<div id="outside" ng-controller="ArtistController">
    <div id="inside">

        <h5 class="text-center">Check back here weekly to see if any new artists have been added! We'll spotlight
                                our favorites so you know who the next big things are!</h5>
        
        <br>
        
        <div  id="artistSearch" class="waves-effect waves-light col-md-6 col-md-offset-3" role="search">
            <input type="text" placeholder="Search Artists" ng-keypress="search($event)">
        </div>
        
        <br><br><br><br><br>
        
        <div id="artistCard" class="col-md-4" ng-repeat="artist in artists">
            <div class="card hoverable">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img ng-src="{{artist.imgURL}}" class="img-responsive" alt="">
                        <a href="#">
                            <div class="mask waves-effect"></div>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <h4>{{artist.name}}</h4>
                    <p id="cardInfo">{{artist.info}}</p>
                </div>
                <div class="card-btn text-center">
                    <a href="#" ng-click="" class="btn btn-default btn-md waves-effect waves-light">Profile</a>
                </div>
            </div>
        </div>
        
        <div style="float:right" class="card-btn text-center">
            <a href="#" ng-click="" class="btn btn-default btn-md waves-effect waves-light">Next</a>
        </div>
    </div>
</div>