<div id="outside" ng-controller="ArtistController">
    <div class="row" id="inside">

    <!--    ng-repeat="artist in "-->
        <div class="col-md-3">
            <div class="card hoverable">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img src="../img/Lionite.png" class="img-responsive" alt="">
                        <a href="#">
                            <div class="mask waves-effect"></div>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <h4>{{band_name}}</h4>
                    <p id="cardInfo">{{band_info}}</p>
                </div>
                <div class="card-btn text-center">
                    <a href="#" class="btn btn-default btn-md waves-effect waves-light">See More</a>
                </div>
            </div>
        </div>
    
    </div>
</div>