<style>
    #inside {
        margin-left: 30px;
        margin-right: 30px;
    }
</style>

<div id="outside" ng-controller="EditProfileController">
    <div class="row" id="inside">
        <form name="updateProfileForm" class="col-md-12">
            <div class="row">
                <div class="input-field col-md-6">
                  <input type="text" id="band_name" ng-model="band_name" class="validate">
                  <label for="band_name">Band Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-6">
                  <input type="text" id="home_city" ng-model="home_city" class="validate">
                  <label for="home_city">Home City</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-6">
                  <input type="text" id="record_label" ng-model="record_label" class="validate" 
                         placeholder="                                       If no label, put 'N/A'">
                  <label for="record_label">Record Label</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-6">
                  <input type="text" id="influences" ng-model="influences" class="validate">
                  <label for="influences">Influences</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-9">
                      <textarea id="band_info" ng-model="band_info" class="materialize-textarea"></textarea>
                      <label for="band_info">About</label>
                </div>
            </div>
            <button id="updateProfileBtn" class="btn btn-default" type="submit" ng-click="updateProfileInfo(updateProfileForm)">Update Profile</button>
        </form>
    </div>
</div>