<div id="outside" ng-controller="ProfileController">
    <div id="overlay"><img src="img\spinner.gif" alt="Be patient..." /></div>
    <div class="row" id="inside">
        <form name="userForm" class="col-md-12">
            <div class="row">
                <div class="input-field col-md-4 col-xs-4">
                  <input type="text" id="username" ng-model="username" class="validate" disabled required>
                  <label for="username" id="username_lbl" >Username</label>
                </div>
                <div class="col-md-4 col-xs-4">
                  <label for="role" id="role_lbl">Role</label>
                  <select class="form-control" ng-model="role" id="role" ng-options="role for role in roles" disabled>
                  </select>
                </div>
            </div>
            <div class="row">
              <div class="input-field col-md-4 col-xs-4">
                  <input type="text" id="email" ng-model="email" class="validate" required>
                  <label for="email" id="email_lbl" >Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-4 col-xs-4">
                  <input type="text" id="first_name" ng-model="first_name" class="validate" required>
                  <label for="first_name" id="first_name_lbl" >First Name</label >
                </div>
                <div class="input-field col-md-4 col-xs-4">
                  <input type="text" id="last_name" ng-model="last_name" class="validate" required>
                  <label for="last_name" id="last_name_lbl">Last Name</label>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4 col-xs-4">
                  <label>Password</label>
                  <input type="password" name="password" class="form-control" ng-model="password"/>
              </div> 
              <div class="form-group col-md-4 col-xs-4">
                  <label>Confirm Password</label>
                  <input type="password" name="confirmPassword" class="form-control" 
                         ng-model="confirmPassword" 
                         compare-to="password" />
                  <div ng-messages="userForm.confirmPassword.$error" class="error">
                    <div ng-message="compareTo" >Passwords do not match</div>
                  </div>
              </div>
            </div>
            <button id="saveUserBtn" class="btn btn-default" type="submit" ng-click="saveUser(userForm)">Update Profile</button>
        </form>
    </div>
</div>