<div id="outside" ng-controller="ProfileController">
<!--    <div id="left"></div>-->
    <div class="row" id="inside">
        <h2><strong class="bandName">Band Name:</strong> {{band_name}}</h2>
        <hr>
        <h4><strong class="bandInfo">Home City:</strong> {{home_city}}</h4>
        <br>
        <h4><strong class="bandInfo">Record Label:</strong> {{record_label}}</h4>
        <br>
        <h4><strong class="bandInfo">Influences:</strong> {{influences}}</h4>
        <br>
        <p><strong class="bandAboutInfo">Band Info:</strong> {{band_info}}</p>
        
        <br>
        <a href id="editProfileBtn" class="btn btn-default" ng-click="editProfileRedirect()">Edit Profile</a>
    </div>
<!--    <div id="right"></div>-->
</div>