<div class="row container">
    <div>
        <img class="img-responsive center-block" src="img/elephant.png">
    </div>
    <div class="pagination-centered col-md-6 col-md-offset-3"  ng-controller="LoginController">
        <form name="loginForm" ng-show="isLogin">
          <h3>Log In</h3>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" ng-model="username" placeholder="Username" />
          <input type="password" id="login-password" ng-model="password" placeholder="Password" />
          <div class="row container">
                <button id="loginBtn" class="btn btn-default col-md-2" type="submit" ng-click="logIn(loginForm)">Log In</button>
                <button class="btn btn-default col-md-2" ng-click="toggleForms()">Register</button>
          </div>
        </form>
        <form name="signupForm" ng-show="!isLogin">
              <h2>Sign Up</h2>
              <div class="error" style="display:none"></div>
              <input type="text" id="signup-username" ng-model="username" placeholder="Username" />
              <input type="password" id="signup-password" ng-model="password" placeholder="Create a Password" />
              <button id="signupBtn" class="btn btn-default" type="submit" ng-click="signup(signupForm)">Sign Up</button>
              <a ng-click="toggleForms()">Already have an account?</a>
        </form>
    </div>
    <div class="row center-block">
        <h2 class="col-md-8 col-md-offset-3">Be the next Big Thing!</h2>
    </div>
</div>

